$border: #D4D4D4;
$background: #F8F7F3;
$brand-color: #22BCB9 !default;

$font-stack: Verdana;
$primary-font-size: 13px;
$h5-font-size: 15px;
$small-font-size: 12px;
$primary-font-color: #595959;
$error-font-color:#AC0000;
$title-color: $brand-color;
